@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-VariableFont_wght.ttf");
}

:root {
  --foreground-rgb: 0,0,0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 44, 54, 57;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--foreground-rgb));
  font-family: 'Courier New', Courier, monospace;
}

.app-link {
  color: #b1b4b5;
  text-decoration: none;
}
.app-link:hover {
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
